<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
     <connectionStrings>
        <add name="IdentityDbConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Auction.IdentityDb;Data Source=DESKTOP-O9KC10I" providerName="System.Data.SqlClient"/>
        <add name="AuctionDbConnectionString" connectionString="Integrated Security=SSPI; Persist Security Info=False;Initial Catalog=Auction.ApplicationDb;Data Source=DESKTOP-O9KC10I" providerName="System.Data.SqlClient"/>
      </connectionStrings>
</configuration>
